body{
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../img/background.jpg) left center/auto fixed;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255) ;
    background-color: rgb(2, 0, 0);
    text-align: center;
    padding: 15px;
    font-size: 15px;
    transition: 0.5s;
}

.extras{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.extras-unit{
    width: 90%
}

a:hover{
    color: #000000;
    background-color: #ffffff;
}

.title{
    font-weight: 400;
    font-size: 28px;
    margin-top: 50px;
    text-align: center;
    background: linear-gradient(to right, #40E0D0, #000000); 
    opacity: 80%;
    
}

.title-text{
    color: white;
    font-weight: 600;
}

.menu{
    gap: 10px;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #40E0D0, #000000); 
    
    opacity: 80%;
}

footer{
    margin-top: 50px;
    text-align: right;
    padding-right: 50px;
    font-weight: 100;
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(to right, #40E0D0, #000000);
    opacity: 80%;

}


