body{
    text-align: center
}

header {
    background-color: #464545;
    font-size: 60px;
    color: white;
    font-weight: 600;
}

.containerBusca{
    border: solid rgb(10, 10, 10) 2px;
    border-radius: 10px;
    background-color: gray;
    width: 300px;
    margin: 20px auto;
    padding: 20px;

}

input{
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
}

button{
    font-size: 24px;
    padding: 5px 110px;
    margin: 20px 0px 0px 0px;
    border-radius: 10px;
}

img{
    border-radius: 10px;
    border: solid rgb(10, 10, 10) 2px;
    width: 300px;
    height: 300px;

}

.containerPersonagem{
    border: solid rgb(10, 10, 10) 2px;
    border-radius: 10px;
    background-color: gray;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
}

#nomePersonagem{
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 10px 0px 0px 0px;
}

.back{
    border: solid rgb(10, 10, 10) 2px;
    border-radius: 10px;
    background-color: gray;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.back:hover{
    border: solid rgb(10, 10, 10) 2px;
    color: white;
    border-radius: 10px;
    background-color: #464545;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    text-decoration: none;
}
