body{
    background-color: #012043;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

header{
    display: block;
    height: 25vh;
    padding: 20px;
    text-align: center;
}

#logo{
    height: 100%;
}

main{
    padding-top: 20px;
}

input{
    background-color: #075700;
    border: solid white 2px;
    border-radius: 10px;
    color: yellow;
    font-size: 24px;
    width: 120px;
    text-align: center;
}

button{
    margin-top: 7.5px;
    width: 122px;
    height: 30px;
}

.container{
    background-color: #D34646;
    width: 250px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    border: #ffffff 2px solid;
    text-align: center;
}

#led{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: pink;
    border: white 2px solid;
}

.container-busca{
    height: 70px;
}

.container-info{
    height: 300px;
}

.imgPokemon{
    border: white 2px solid;
    border-radius: 10px;
    background-color: #075700;
    width: 120px;
    height: 120px;
}

#containerNomePokemon{
    margin-left: 25%;
}

.nomePokemon{
    border: white 2px solid;
    border-radius: 10px;
    background-color: #075700;
    color: yellow;
    font-size: 20px;
    width: 120px;
}

.containerTipoPokemon{
    display: flex;
    gap: 10px;
    margin-left: 6.25%;
}

.tipoPokemon1{
    border: white 2px solid;
    border-radius: 10px;
    font-size: 16px;
    width: 100px;
}

.tipoPokemon2{
    border: white 2px solid;
    border-radius: 10px;
    font-size: 16px;
    width: 100px;
}
